<omc-layout>
    <omc-header omcWidth="64px">
        <img slot="logo" src="../../assets/logo.svg" width="32px">
        <div slot="logout">
            <omc-icon icon="icon-question-circle" color="#31C27C" size="24"></omc-icon>
        </div>
    </omc-header>

    <omc-content omc-container>
        <omc-table>
            <thead>
            <tr>
                <th omcTop omcHeight="200">top</th>
                <th omcTop>top</th>
                <th style="min-height: 200px;">12</th>
                <th>34</th>
                <th>34</th>
                <th omcBottom>bottom</th>
                <th omcBottom>bottom</th>
            </tr>
            </thead>
            <tbody>
            <tr>
                <td omcTop>111 top</td>
                <td omcTop>222 top</td>
                <td>111</td>
                <td>111</td>
                <td>222</td>
                <td omcBottom>111 bottom</td>
                <td omcBottom>
                    <omc-button>21312</omc-button>
                </td>
            </tr>
            <tr>
                <td omcTop>11 top</td>
                <td omcTop>22 top</td>
                <td>11</td>
                <td>
                    New York No. 1 Lake ParkNew York No. 1 Lake ParkNew York No. 1 Lake ParkNew York No. 1 Lake ParkNew
                    York No. 1 Lake ParkNew York No. 1 Lake ParkNew York No. 1 Lake ParkNew York No. 1 Lake ParkNew York
                    No. 1 Lake Park
                </td>
                <td>
                    New York No. 1 Lake ParkNew York No. 1 Lake ParkNew York No. 1 Lake ParkNew York No. 1 Lake ParkNew
                    York No. 1 Lake ParkNew York No. 1 Lake ParkNew York No. 1 Lake ParkNew York No. 1 Lake ParkNew York
                    No. 1 Lake Park
                </td>
                <td omcBottom>111 bottom</td>
                <td omcBottom>
                    <omc-button>21312</omc-button>
                </td>
            </tr>
            <tr>
                <td omcTop>11 top</td>
                <td omcTop>22 top</td>
                <td>11</td>
                <td>11</td>
                <td>22</td>
                <td omcBottom>111 bottom</td>
                <td omcBottom>
                    <omc-button>21312</omc-button>
                </td>
            </tr>
            <tr>
                <td omcTop>11 top</td>
                <td omcTop>22 top</td>
                <td>11</td>
                <td>22</td>
                <td>22</td>
                <td omcBottom>111 bottom</td>
                <td omcBottom>
                    <omc-button>21312</omc-button>
                </td>
            </tr>
            </tbody>
        </omc-table>
    </omc-content>
</omc-layout>

